@using _04_06_01_ecommerce.Application.Services.Common.Queeries.GetMenuItem;
@model List<MenuItemDto>
@{
    Layout = null;
}


@foreach (var item in Model)
{

    <li id="nav-menu-item" class="menu-item nav-overlay">
        <a href="~/products/index?CategoryId=@item.CategoryId" class="current-link-menu">
            @item.Name
        </a>

        @if (item.Children.Count() > 0)
        {
            <ul class="sub-menu is-mega-menu-small">

                @foreach (var itemChild in item.Children)
                {
                    <li class="menu-mega-item menu-item-type-mega-menu item-small">
                        <a href="~/products/index?CategoryId=@itemChild.CategoryId" class="mega-menu-link">
                            @itemChild.Name
                        </a>
                    </li>
                }
            </ul>
        }

    </li>
}

